# credentials and settings for accessing AWS
AWS_KEY = "..."
AWS_SECRET = "..."
AWS_REGION = "us-east-1"
AWS_BUCKET = "s3://.../"
AWS_PREFIX = ""

# credentials for notification system via email
MAILTO="daniel@..."
MAILFROM="daniel@..."
SMTP_SERVER="smtp...."
SMTP_PORT=587
SMTP_USER="daniel@..."
SMTP_PASSWORD="..."